/* @font-face {
    font-family: 'Reglo-Bold';
    src: url('./assets/fonts/Reglo-Bold.otf') format('otf');
} */


*{
    border:  0;
    padding:  0;
    margin: 0;
}

*{
    border: black 1px solid;

}

html{
    color:white;
}
h1,h2{
    color: rgb(230, 230, 230);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2{
    margin-top: 2em;
}
.grid-container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 50vh 35vh 10vh;
}

.grid-container div{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-icon{
    display: block;
}

canvas{
    display:block;
}
#container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

